name: module3_task0
on:
  push:
    branches:
      - main
  schedule:
    # * is a special character in YAML so you have to quote this string.
    - cron: "* 23 * * *"
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: display help
        run: |
          cd module3_task0
          make help
